.lise {
    display: block;
    max-width: 800px;
    background-color: #B886F5;
    margin: auto;
    padding: 20px;
    font-family: "Times New Roman", serif;
    border-radius: 20px;
    cursor: url("https://www.wii.gay/cursors/wii-pointer-ccw.cur"), auto;
    text-align: center;
}
.lise h1 {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 24pt;
}
.lise hr {
    color: rgb(115, 0, 255);
    width: 90%;
}
.lise a:link {
    color: rgb(255, 0, 242);
    font-family: "Times New Roman", serif;
    text-decoration: none;
}
.lise a:visited {
    color: rgb(255, 0, 242);
}
.lise a:hover {
    color: rgba(0, 0, 0, 0);
}

.swouse {
    display: block;
    max-width: 800px;
    background-image: url("https://g-auspice.neocities.org/images/goldstars.gif");
    background-color: rgba(76, 175, 80,0.4);
    box-shadow: inset 0 0 0 1000px rgba(76, 175, 80,0.4);
    border-radius: 20px;
    border: 5px solid rgba(240,128,12,0.8);
    margin: 30px auto 10px;
    padding: 20px;
    font-family: "Verdana", sans-serif;
    text-align: center;
    color: gold;
    font-size: 14pt;
}
.swouse h1 {
    font-family: Verdana, sans-serif;
    font-size: 24pt;
}
.swouse img {
    margin-top: 10px;
    height: 40px;
    image-rendering: pixelated;
}