
:root {
    --color-bg: #fff8e7;
  }
body {
    background-color: #224b34;
    color: black;
    font-size: 16pt;
    font-family: "Trebuchet MS", sans-serif;
}
h1 {
    font-size: 30pt;
    text-align: center;
    font-family: "Courier New", sans-serif;
    margin: 0;
}
h3 {
    text-align: center;
    margin: 0;
}
h2, h4, h5 {
    text-decoration: none;
    margin: 0;
}
.contentBox {
    max-width: 1080px;
    padding: 20px;
    margin: 30px auto 10px;
    background-color: var(--color-bg);
    border-radius: 6pt;
}
.navigation {
    text-align: center;
    font-size: 14pt;
    margin: 0;
}
a:link {
    color: #0d2fff;
    font-family: "Courier New", serif;
}

a:visited {
    color: #9d00bd;
}
a:active, h2:active {
    color: #FFF;
    background-color: #000;
}
ul {
    margin-top: 0;
    padding-left: 0.5em;
    list-style: none outside;
}

img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 700px) {
body {
    margin: 12px;
}
.contentBox {
    max-width: 1080px;
    padding: 12px;
    margin: 0 auto;
}
}