body {
    background-color: #224b34;
    color: black;
    font-size: 16pt;
    font-family: "Trebuchet MS", sans-serif;
}
h1 {
    font-size: 30pt;
    text-align: center;
    font-family: "Courier New", sans-serif;
    margin: 0;
}
h3 {
    text-align: center;
    margin: 0;
}
h2, h4, h5 {
    text-decoration: none;
    margin: 0;
}
.contentBox {
    max-width: 1080px;
    padding: 20px;
    margin: 30px auto 10px;
    background-color: #fff8e7;
    border-radius: 6pt;
}
.navigation {
    text-align: center;
    font-size: 14pt;
    margin: 0;
}
a:link {
    color: #0d2fff;
    font-family: "Courier New", serif;
}

a:visited {
    color: #5f00bd;
}
a:active, h2:active {
    color: #FFF;
    background-color: #000;
}