.friend {
  display: block;
  box-sizing: border-box;
  max-width: 800px;
  margin: 16pt auto;
  padding: 20px;
  text-align: center;
}

@font-face {
  font-family: "pixter-granularregular";
  src: url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/font/pixter_granular-webfont.woff2")
    format("woff2");
  src: url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/font/pixter_granular-webfont.woff")
    format("woff");
}

.lise {
  background-color: #b886f5;
  font-family: "pixter-granularregular";
  cursor:
    url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/cursors/wii-pointer-ccw.cur"),
    auto;
}

.lise h1 {
  margin-top: 5px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
}

.lise hr {
  border-color: rgb(115, 0, 255);
  width: 90%;
}

.lise p {
  font-size: 1em;
  margin: 0.1em 1em;
}

.lise a:link {
  color: rgb(91, 206, 250);
  text-decoration: none;
  font-family: "pixter-granularregular";
}

.lise a:visited {
  color: rgb(115, 0, 255);
  text-decoration: none;
}

.lise a:hover {
  color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  cursor:
    url("https://raw.githubusercontent.com/csd-was-taken/Webbed-Site/refs/heads/main/cursors/wii-pointer-ccw.cur"),
    auto;
}

@font-face {
  font-family: "Da Bomb";
  src: url("/fonts/DABOMB__.TTF") format("truetype");
}

.doomhardy {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 29, 12, 1) 0%,
    rgba(107, 41, 10, 1) 100%
  );
  border-radius: 0.375rem;
  border: 3px solid black;
  color: #fdd3ad;
}

.doomhardy h1 {
  font-size: 2em;
  font-family: "Da Bomb";
}

.doomhardy p {
  text-align: center;
  font-size: 1em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 4pt 0;
}

.doomhardy a:link {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #add7fd;
}

.doomhardy a:visited {
  color: #d3adfd;
}

.gira {
  color: #ccfffe;
  background-color: #416600;
  font-family: sans-serif;
  cursor:
    url("https://giraffeyla10.neocities.org/img/SBURB_SELECT.png"), default;
  border: 4pt solid;
  border-color: #5d8811 #223500 #223500 #5d8811;
}

.gira h1 {
  font-family: "fontstuck", "Courier New", Courier, monospace;
  font-size: 30pt;
}

.gira p {
  margin: 4pt 0;
}

@font-face {
  font-family: "fontstuck";
  src: url("/fonts/fontstuck-extended.otf") format("opentype");
}
.gira a {
  color: #4f0099;
  font-weight: bold;
  text-decoration: none;
}
