@font-face {
  font-family: "Martian Mono";
  src: url("https://raw.githubusercontent.com/evilmartians/mono/refs/heads/main/fonts/webfonts/MartianMono-Regular.woff2");
}

@font-face {
  font-family: "Martian Mono";
  src: url("https://raw.githubusercontent.com/evilmartians/mono/refs/heads/main/fonts/webfonts/MartianMono-Bold.woff2");
  font-weight: bold;
}

:root {
  --color-bg: #fff8e7;
  --color-hr: #808080;
  --color-text: black;
}

body {
  background-color: #224b34;
  color: var(--color-text);
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.2em;
}

h1 {
  font-size: 1.8em;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  margin: 0;
  font-family: "Martian Mono", monospace;
}

.content-box {
  max-width: 68rem;
  padding: 1em;
  margin: 1.5em auto 0.8em;
  background-color: var(--color-bg);
  border-radius: 1rem;
}

.navigation {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.bloghead {
  font-size: 18pt;
  text-align: center;
  margin: 0;
  font-family: "Martian Mono", monospace;
  font-weight: bold;
}
.blogpost {
  margin-top: 1em;
  border-top: 2px solid var(--color-hr);
  padding-top: 0.5em;
}

.blogpost p {
  text-align: justify;
}

a {
  font-family: "Martian Mono", monospace;
  font-size: 0.857em;
}

a:link {
  color: #0d2fff;
}

a:visited {
  color: #9d00bd;
}

a:active {
  color: #fff;
  background-color: #000;
}

ul {
  margin-top: 0;
  padding-left: 0.3rem;
  list-style: none outside;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  background-color: #d7cfbc;
  padding: 2pt;
  border-radius: 2pt;
}

@media screen and (max-device-width: 1000px) {
  body {
    font-size: 2em;
    margin: 12px;
  }

  .content-box {
    padding: 12px;
    margin: 0 auto;
  }
}
