---
const pageTitle = "Ranid Art";
import Default from "@layouts/Default.astro";
---

<style is:global>
  p {
    display: block;
    width: 800px;
    margin: 60px auto 50px;
    text-align: center;
  }
</style>
<Default pageTitle={pageTitle}>
  <p>
    I'm eventually going to add more to this page, but for now, all my art is
    on <a href="https://blog.ranid.gay/tagged/blender">Tumblr, tagged
      "#blender"</a>
  </p>
</Default>
