---
import { SEO } from "astro-seo"
const { title } = Astro.props
---

<head>
  <meta charset="UTF-8">
  <title>{title}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="alternate" type="application/atom+xml" href="/feed.atom">
  <SEO
    title="{title}"
  />
</head>
