---
import Nav from "@components/Nav.astro"
import Header from "@components/Header.astro"
---
<!doctype html>
<html lang="en">
<Header />

<body>
  <div class="content-box">
  <Nav/>

  <slot />
  </div>
</body>

</html>
